
InventoryControl/.vs/InventoryControl/v16/.suo
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/apphost.exe
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.AssemblyInfo.cs
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.AssemblyInfoInputs.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.assets.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csproj.CoreCompileInputs.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csproj.FileListAbsolute.txt
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csproj.GenerateResource.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csprojAssemblyReference.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.dll
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.FormMain.resources
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.genruntimeconfig.cache
InventoryControl/InventoryControl/obj/InventoryControl.csproj.nuget.dgspec.json
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.pdb
InventoryControl/InventoryControl/obj/InventoryControl.csproj.nuget.g.props
InventoryControl/InventoryControl/obj/InventoryControl.csproj.nuget.g.targets
InventoryControl/InventoryControl/obj/project.assets.json
InventoryControl/InventoryControl/obj/project.nuget.cache
