
InventoryControl/.vs/InventoryControl/v16/.suo
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/apphost.exe
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.AssemblyInfo.cs
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.AssemblyInfoInputs.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.assets.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csproj.CoreCompileInputs.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csproj.FileListAbsolute.txt
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csproj.GenerateResource.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csprojAssemblyReference.cache
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.dll
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.FormMain.resources
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.genruntimeconfig.cache
InventoryControl/InventoryControl/obj/InventoryControl.csproj.nuget.dgspec.json
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.pdb
InventoryControl/InventoryControl/obj/InventoryControl.csproj.nuget.g.props
InventoryControl/InventoryControl/obj/InventoryControl.csproj.nuget.g.targets
InventoryControl/InventoryControl/obj/project.assets.json
InventoryControl/InventoryControl/obj/project.nuget.cache
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.AssemblyInfo.cs
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.AssemblyInfoInputs.cache
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.assets.cache
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.csproj.CoreCompileInputs.cache
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.csproj.FileListAbsolute.txt
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.pdb
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.dll
InventoryControl/InventoryControlModel/obj/Debug/netcoreapp3.1/InventoryControlModel.csprojAssemblyReference.cache
InventoryControl/InventoryControlModel/obj/InventoryControlModel.csproj.nuget.dgspec.json
InventoryControl/InventoryControlModel/obj/InventoryControlModel.csproj.nuget.g.props
InventoryControl/InventoryControlModel/obj/InventoryControlModel.csproj.nuget.g.targets
InventoryControl/InventoryControlModel/obj/project.assets.json
InventoryControl/InventoryControlModel/obj/project.nuget.cache
InventoryControl/.vs/InventoryControl/DesignTimeBuild/.dtbcache.v2
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.designer.deps.json
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.designer.runtimeconfig.json
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.FormAddEquipment.resources
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.FormEditEquipment.resources
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.FormAddMaintanceCall.resources
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.FormEditMaintanceCall.resources
InventoryControl/InventoryControl/obj/Debug/netcoreapp3.1/InventoryControl.csproj.CopyComplete
